:root {
    /* Primary Colors */
    --yellow: hsl(47, 88%, 63%);
    /* Neutral Colors */
    --white : hsl(0, 0%, 100%);
    --grey  : hsl(0, 0%, 50%);
    --black : hsl(0, 0%, 7%);
}

/* Initializing */
*,
::before,
::after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    color      : var(--black);
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    height     : 100vh;
    width      : 100vw;
}

.attribution {
    font-size : 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}